#!/usr/bin/make -f

override_dh_strip:
	dh_strip -Xembassy_container_init

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_installsystemd:
	dh_installsystemd --name=embassy-init --no-start
	dh_installsystemd --name=embassyd --no-start

%:
	dh $@